=beforeDash
    &::before
        content: "-"
        display: inline-block
        padding: 0.25em
    
.Nav
    display: inline-block

.Nav-list
    list-style-type: none
    margin: 0
    padding: 0

.Nav-list-item
    display: inline-block
    &:not(:first-child)
        +beforeDash
    &.--stack
        @media screen and (max-width: 40rem)
            display: block
            +beforeDash